Repository TheKevJames/experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(repo): bump templates
  .github/CODEOWNERS
  .github/autoapproval.yml
  .github/renovate.json5
  .pre-commit-config.yaml
Due: none

chore(asyncio-http-perf): re-lock
  asyncio-http-perf/poetry.lock
Due: none

chore: fix lint
  testapi/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): bump linter configs
  .pre-commit-config.yaml
  google-pubsub-perf/README.rst
  kms-auth/server.py
  tensorflow-perf/README.rst
Due: pytest-fixtures-require-scope

chore(deps): bump linter configs (#72)
  .pre-commit-config.yaml
  google-pubsub-perf/README.rst
  kms-auth/server.py
  tensorflow-perf/README.rst
Due: pytest-fixtures-require-scope

chore: import libspacerepo
  libspacerep/.gitignore
  libspacerep/Makefile
  libspacerep/README.rst
  libspacerep/ffibuild.py
  libspacerep/spacerep.nimble
  libspacerep/src/spacerep.nim
  libspacerep/src/spacerep/sm15.nim
  libspacerep/src/spacerep/sm2.nim
  libspacerep/tests/lib_test.c
  libspacerep/tests/lib_test.nim
  libspacerep/tests/lib_test.py
  libspacerep/tests/requirements.txt
Due: pytest-fixtures-require-scope

refactor(renovate): rely on builtin pre-commit python dep manager
  .pre-commit-config.yaml
Due: none

style(renovate): apply linting
  .github/renovate.json5
Due: none

chore(gha): configure dependency workflow
  .github/workflows/dependencies.yaml
Due: none

chore(pre-commit): bump config
  .pre-commit-config.yaml
Due: none

chore(repo): bump config
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/autoapproval.yml
  .github/renovate.json5
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .pre-commit-config.yaml
  asyncio-http-perf/server.go
Due: none

chore(repo): bump config
  .github/settings.yml
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/wip.yml
Due: none

chore: disable dependabot
  .github/settings.yml
Due: none

Revert "chore: disable dependabot"
  .github/settings.yml
Due: none

chore(ci): disable dep updates/analysis
  .github/renovate.json5
  .github/settings.yml
  .github/workflows/dependency-review.yml
  android-solitaire/build.gradle
  google-pubsub-perf/requirements.txt
  tensorflow-perf/requirements.txt
Due: none

chore(repo): bump config
  .github/autoapproval.yml
  .github/rulesets/base.json
  .github/rulesets/required-checks.json
  .github/settings.yml
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/rulesets.yml
  .github/workflows/wip.yml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
